{% load static i18n %}
<!doctype html>
<html lang="en">
    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">

      <!-- Title -->
      <title>{% block title %}Home{% endblock title %} | Survey</title>

      <!-- ICONS -->
      {% block icon_meta %}
      <link rel="icon" type="image/x-icon" href="{% static 'surveys/img/favicon.ico' %}">
      <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'surveys/img/apple-touch-icon-144x144-precomposed.png' %}">
      <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'surveys/img/apple-touch-icon-114x114-precomposed.png' %}">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'surveys/img/apple-touch-icon-72x72-precomposed.png' %}">
      <link rel="apple-touch-icon-precomposed" href="{% static 'surveys/img/apple-touch-icon-precomposed.png' %}">
      <link rel="apple-touch-icon" href="{% static 'surveys/img/apple-touch-icon-precomposed.png' %}">
      {% endblock icon_meta %}

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

      <!-- App CSS -->
      <link rel="stylesheet" type="text/css" href="{% static 'surveys/css/fonts.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'surveys/css/style.css' %}">
      {% block extra_css %}{% endblock extra_css %}
    </head>
    <body class="bg-light">
      {% block header %}
        <header class="u-clearfix">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="logo navbar-brand">
              <a href="{% url 'index' %}">
                <h2>Survey App</h2>
              </a>
            </div>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                  <a class="nav-link" href="/surveys/">Previous surveys</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/admin/">Admin</a>
                </li>
                {% if request.user.is_authenticated %}
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'logout' %}">Log out</a>
                </li>
                {% endif %}
              </ul>
            </div>
          </nav>
        </header>
        {% endblock header %}

      <div class="container">
        {% block main %}
        <main>
          {% block content %}{% endblock content %}
        </main>
        {% endblock main %}
      </div>

      {% block footer %}
      <footer class="u-clearfix"></footer>
      {% endblock footer %}

      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

      {% block extra_js %}{% endblock extra_js %}
    </body>
</html>
